body {
    font-family: "Arial", "Helvetica", "sans-serif";
    font-size: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h1 {
    font-size: 24px;
    color: #000
}

a {
    color: #015BA7
}

a:hover {
    background-color: #015BA7;
    color: white;
    text-decoration: none
}

#dimensions {
    font-family: "Arial", "Helvetica", "sans-serif";
}

#content {
    float: left;
    background-color: white;
    border: 1px solid #aaa;
    height : 99%;
    width : 99%;
}



#page {
    background-color: #FFFFFF;
    margin: 0;
    margin-left: 0;
    margin-right: 0
}

#footer {
    clear: both
}

#canvas-content {
    padding-left: 0px;
    padding-right: 30px
}

#header {
    background-repeat: no-repeat;
    background-position: top left;
    height: 64px;
    padding-left: 75px;
    margin-left:20px;
}

#header h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px
}

#footercont {
    float: left;
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #999;
}

#footercont p {
    margin: 0;
    padding: 15px;
}

#footercont a {
    color: #999;
    text-decoration: none;
}

#footercont a:hover {
    color: #199BD2;
    text-decoration: none;
}

#footerleft {
    float: left;
}

#footerright {
    float: right;
    text-align: right;
}

.tabcontent table {
    font-size: 85%;
}

#event-table span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 0;
}

#event-table span input {
    width: 95%;
}

#event-table span textarea {
    width: 95%;
    height: 100%;
    overflow-x:auto;
}

#event-table tr td {
    vertical-align:top;
}
